{% extends "layouts/master.twig" %}
{% block main_content %}
    {% if authenticated == true %}
        <h1 class="title is-1">You are Logged In</h1>
    {% else %}
        <div class="section">
            <div class="columns is-centered is-vcentered">
                <div class="column is-half">
                    <div class="field">
                        <label class="label" for="username">Username</label>
                        <input class="input" id="username" type="text">
                    </div>
                    <div class="field">
                        <label class="label" for="password">Password</label>
                        <input class="input" id="password" type="password">
                    </div>

                    <div class="control">
                        <button class="button is-primary login-button">Login</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>

        function login() {
            if($login_button.hasClass('loading')) {
                return false;
            }
            $login_button.addClass('is-loading');

            $.ajax({
                url : '/auth',
                type : 'post',
                dataType : 'json',
                data : {
                    username : $('[id=username]').val(),
                    password : $('[id=password]').val()
                },
                success : function(r) {
                    console.log(r);
                    $login_button.removeClass('is-loading');
                    if(r.status != 1) {
                        const auth_payload = {
                            csrf_token : r.data['CSRFPreventionToken'],
                            ticket : r.data['ticket']
                        };
                        storage.set('auth', auth_payload)
                    }
                }
            })
        }

        const $inputs = $('[id=username], [id=password]');
        $inputs.on('keypress', function(e) {
            if(e.which === 13) {
                login();
            }
        })

        const $login_button = $('.login-button');
        $login_button.unbind();
        $login_button.on('click', function() {
            login();
        });
    </script>
{% endblock %}