{% extends "layouts/master.twig" %}
{% block main_content %}
    <h1 class="title is-1">Resources</h1>
    <div class="columns">
        <div class="column">
            <button class="button is-primary create-container">Create</button>
        </div>
    </div>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>Name</th>
            <th>Memory</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for container in containers %}
            <tr>
                <td>{{ container.name }}</td>
                <td>{{ container.formatted_mem }}</td>
                <td>{{ container.status }}</td>
                <td>
                    {% if container.status == 'running' %}
                        <button class="button is-danger de-activate" data-id="{{ container.id }}">De-Activate</button>
                    {% else %}
                        <button class="button is-primary activate" data-id="{{ container.id }}">Activate</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/html" id="create_tmpl">

        <div class="section">
            <div class="columns is-centered is-vcentered">
                <div class="column">
                    <div class="field">
                        <label class="label" for="hostname">Hostname</label>
                        <input class="input" id="hostname" type="text">
                    </div>

                    <div class="columns">
                        <div class="column">
                            <table class="table is-striped is-fullwidth">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Memory</th>
                                    <th>CPUs</th>
                                    <th>Disk</th>
                                </tr>
                                </thead>
                                {% for grain in grains %}
                                    <tr>
                                        <td><input value="{{ loop.index }}" type="radio" name="grain_select"></td>
                                        <td>{{ grain.mem }}</td>
                                        <td>{{ grain.cpu }}</td>
                                        <td>{{ grain.disk }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                            <p class="response-message"></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script>
        $('.activate').on('click', function() {
            const id = $(this).data('id');
            $.ajax({
                url : '/container/activate',
                type : 'post',
                dataType : 'json',
                data : {
                    id : id
                },
                success : function(r) {

                }
            })
        });

        $('.de-activate').on('click', function() {
            const id = $(this).data('id');
            $.ajax({
                url : '/container/deactivate',
                type : 'post',
                dataType : 'json',
                data : {
                    id : id
                },
                success : function(r) {

                }
            })
        });

        $('.create-container').on('click', function() {
            modal.display($('#create_tmpl').html())

            $('.modal .save').on('click', function() {
                const hostname = $('[id=hostname]').val();
                const id = $('[name=grain_select]').val();

                if(hostname == '' || id == '') {
                    alert('Fill in all the fields yo');
                    return false;
                }

                $.ajax({
                    url : '/container/create',
                    type : 'post',
                    dataType : 'json',
                    data : {
                        hostname : hostname,
                        grain_select : id
                    },
                    success : function(r) {
                        $('.response-message').html('Try logging in at root@' + r.ip + ' with password [' + r.password + ']');
                        console.log(r);
                    }
                })
            })
        })
    </script>
{% endblock %}