<!doctype html>
<HTML>
<head>
    <title>Analog Pond | {% block title %}Muted Network{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel="icon" href="/favicon.ico?v=2" />
    <style>

    </style>
</head>

<body>
{% block nav %}
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/logo.png" alt="Analog Pond" height="28">
            </a>
            {#<div class="navbar-burger burger" data-target="navbar">#}
                {#<span></span>#}
                {#<span></span>#}
                {#<span></span>#}
            {#</div>#}
        </div>

        <div id="navbar" class="navbar-menu is-active">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/container/get">
                    Grains
                </a>
            </div>

            {#<div class="navbar-end">#}
                {#<div class="navbar-item">#}
                    {#<div class="field is-grouped">#}
                        {#<p class="control">#}
                            {#<a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">#}
              {#<span class="icon">#}
                {#<i class="fab fa-twitter"></i>#}
              {#</span>#}
                                {#<span>#}
                {#Tweet#}
              {#</span>#}
                            {#</a>#}
                        {#</p>#}
                        {#<p class="control">#}
                            {#<a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.7.1/bulma-0.7.1.zip">#}
              {#<span class="icon">#}
                {#<i class="fas fa-download"></i>#}
              {#</span>#}
                                {#<span>Download</span>#}
                            {#</a>#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </nav>
{% endblock %}

{% block main_content %}
    Main Content Placeholder
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/html" id="modal_tmpl">
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Modal title</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">

                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success save">Save changes</button>
                    <button class="button cancel">Cancel</button>
                </footer>
            </div>
        </div>
    </script>
    <script>
        const app = {

        };

        const modal = {
            display : function(content) {
                const self = this;
                var html = $('[id=modal_tmpl]').html();
                $('body').append(html);
                $('.modal-card-body').html(content);

                self.bindActions();
            },
            bindActions : function() {
                const $delete = $('.modal .delete, .modal-background, .modal .cancel');
                $delete.unbind();
                $delete.on('click', function() {
                    $('.modal').remove();
                })
            }
        };

        const api = {
            call : function(type, url, data, success) {
                $.ajax({
                    type : type,
                    url : url,
                    data : data,
                    success : success
                });
            },

            post : function(url, data, success) {
                const self = this;
                data['auth'] = storage.get('auth');
                self.call('post', url, data, success);
            }
        }

        const storage = {
            set : function(key, data) {
                let data_string = data;
                if(typeof data === 'object') {
                    data_string = JSON.stringify(data);
                }

                return localStorage.setItem(key, data_string);
            },

            get : function(key) {
                let data = localStorage.getItem(key);
                const parsed_data = JSON.parse(data);
                if(parsed_data) {
                    data = parsed_data
                }

                return data;
            }
        }
    </script>
{% endblock %}

</body>

</HTML>